:root {
  --background: linear-gradient(
    180deg,
    #363636 0%,
    rgba(93, 93, 93, 0.604167) 59.37%,
    rgba(151, 151, 151, 0) 100%
  );
  --nav-backgroundcolor: #ffcb05;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* Hero Section */
.hero_section {
  width: 100%;
  height: 535.28px;
  background: url(/image/background.png );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  mix-blend-mode: multiply;
  padding: 5px 20px;
}
.nav_links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 80px;
}
.nav_links .header_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16px;
  font-feature-settings: "salt" on;
  color: #ffffff;
  text-transform: uppercase;
  padding: 16px;
}
.nav_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #404040 !important;
}
.profile-icon {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.profile-icon .fa-user {
  font-size: 1.5rem;
  color: white;
}
.notification {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: red;
}
.nav_bar-container {
  padding: 0px 0px 0px 80px;
  gap: 51px;
  margin: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background: var(--nav-backgroundcolor);
}
/* Hero Body */
.hero-body {
  margin-top: 105px;
  padding: 0px 0px 0px 100px;
  color: white;
}
.hero-body-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mini-head-text p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 24px;
  font-feature-settings: "salt" on;
  color: #ffffff;
}
.max-head-text h1 {
  font-family: "MTN Brighter Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 64px;
  font-feature-settings: "salt" on;
  color: #ffffff;
}
.glass-card-link{
  
  font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 11px;
/* identical to box height, or 69% */

text-transform: uppercase;

/* Gradient/Yellow */

background: linear-gradient(180deg, #FCD818 0%, #F8C000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;
}
.card {
  flex: 1 0 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 576px;
  padding: 24px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1605) !important;
  border: 2px solid rgba(255, 255, 255, 0.0783) !important;
  backdrop-filter: blur(21.7463px);
  border-radius: 24px !important;
  /* background-color: red; */
}
.card_text-header {
  text-align: left;
  padding-bottom: 1em;
  display: flex;
  color: #fff;
  gap: 8px;
}
.card_text-header img {
  width: 20px !important;
  height: 20px;
  /* object-fit: contain; */
}
.card .item .image img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}
.card_body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  padding: 10px;
}
.glass_image {
  width: 71.86px;
  height: 73px;
}
.card .cards_header {
  margin: 20px 0;
}
.card .cards_header h2 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.card .card_text p {
  font-size: 14px;
  font-weight: 400;
}

.owl-theme .owl-dots {
  text-align: left !important;
  /* margin-top: 10px; */
  top: 230px;
  position: absolute;
  left: 30px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #ffcb05 !important;
}
.carousel-container {
  width: 50%;
}

.back-img {
  background: url(/img/Frame\ 39787.png);
}
.card-title {
  position: absolute;
  top: -30px;
  right: 30px;
  font-size: 8rem;
  color: rgba(225, 225, 225, 0.05);
  pointer-events: none;
}
@media (max-width: 800px) {
  .nav_links .header_link {
    font-size: 1rem;
    padding: 10px;
  }
  .max-head-text h1 {
    font-weight: 700;
    font-size: 4.3rem;
  }
  .card .item .image img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
  }
}
@media (max-width: 991px) {
  .profile_icon {
    margin-left: 0px;
  }
  .max-head-text h1 {
    font-weight: 700;
    font-size: 4.3rem;
  }
  .hero-body {
    margin-top: 80px;
    
  }
}

@media (max-width: 430px) {
  .nav_links {
    display: none;
  }
  .nav_bar-container {
    padding: 0px;
    gap: 51px;
    margin: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background: var(--nav-backgroundcolor);
  }
}
